:root {
  /*** Colors ***/

  /** Primary **/
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /** Gradients **/

  /* Background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutrals */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --font-size-p: 18px;
  --font-size-h2: 20px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

.txt-light-lavender {
  color: var(--light-lavender);
}

.txt-white {
  color: var(--white);
}

main {
  height: 100vh;
}

p {
  font-size: 1.125rem;
  font-weight: 400
}

h2 {
  font-size: 1.4em;
  padding-bottom: 2rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.result-section {
  display: flex;
  border-radius: 2rem;
  padding: 3rem 4rem;
  max-width: 23rem;
  flex-flow: column wrap;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  text-align: center;
}

.result-circle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--light-royal-blue), 75%, var(--light-slate-blue));
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
}

.result-number {
  font-size: 4.5rem;
  font-weight: 600;
}

.result-section h3 {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
}

.summary-section {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
}

