:root {
  /*** Colors ***/

  /** Primary **/
  --light-red: hsl(0 100% 67%);
  --orangey-yellow: hsl(39 100% 56%);
  --green-teal: hsl(166 100% 37%);
  --cobalt-blue: hsl(234 85% 45%);

  --bg-light-red: hsl(0 100% 67% / 0.1);
  --bg-orangey-yellow: hsl(39 100% 56% / 0.1);
  --bg-green-teal: hsl(166 100% 37% / 0.1);
  --bg-cobalt-blue: hsl(234 85% 45% / 0.1);

  /** Gradients **/

  /* Background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutrals */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

.txt-light-lavender {
  color: var(--light-lavender);
}

.txt-white {
  color: var(--white);
}

.txt-light-red {
  color: var(--light-red);
}

.txt-orangey-yellow {
  color: var(--orangey-yellow);
}

.txt-green-teal {
  color: var(--green-teal);
}

.txt-cobalt-blue {
  color: var(--cobalt-blue);
}

.bg-reaction {
  background-color: var(--bg-light-red);
}

.bg-memory {
  background-color:  var(--bg-orangey-yellow);
}

.bg-verbal {
  background-color: var(--bg-green-teal);
}

.bg-visual {
  background-color: var(--bg-cobalt-blue);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 1.125rem;
  font-weight: 400
}

h2 {
  font-size: 1.4em;
  padding-bottom: 2rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.add-shadow {
  box-shadow: 0 1.5rem 1.5rem rgb(0 0 0 / 5%);
  border-radius: 2rem;
}

.result-section {
  display: flex;
  border-radius: 2rem;
  padding: 3rem 4rem;
  width: 23rem;
  flex-flow: column wrap;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  text-align: center;
}

.result-circle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--violet-blue), 60%, var(--persian-blue));
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
}

.result-number {
  font-size: 4.5rem;
  font-weight: 700;
}

.result-section h3 {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
}

.summary-section h2 {
  padding-bottom: 1rem;
}

.summary-section {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  width: 23rem;
  padding: 2rem 2rem;
  border-radius: 2rem;
}

.summary-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 0.5rem 0;

  width: 100%;
}

.summary-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-card h3 {
  font-weight: 600;
  padding-left: 10px;
}

.summary-card p {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.summary-number {

  font-weight: 700;
  padding-right: 0.25rem;
}

.summary-number-max {
  color: rgb(0 0 0 / 50%);
  font-weight: 700;
}

.continue-button {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  border: 0;
  padding: 0.5em 1.5em;

  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  display: block;
  margin-top: 1.5rem;
  background-color: var(--dark-gray-blue);
  color: var(--pale-blue);
}

.continue-button:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media (max-width: 768px) {
  .result-circle {
    width: 9rem;
    height: 9rem;
  }

  .result-section {
    border-radius: 0 0 2rem 2rem;
    padding: 2.5rem;
    padding-top: 1rem;
    width: 100%;
  }

  p {
    font-size: 16px;
  }

  .result-number {
    font-size: 3.5rem;
  }

  .result-section h3 {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 600;
  }

  .add-shadow {
    box-shadow: none;
  }

  body {
    height: 100%
  }
}